services:
  radicale:
    image: tomsquest/docker-radicale
    container_name: radicale
    networks:
      - proxy
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - data:/data

  backup:
    image: offen/docker-volume-backup:latest
    restart: always
    env_file: /mnt/ehdd/Backups/Docker/config/radicale.env
    volumes:
      - data:/backup/my-app-backup:ro
      - /mnt/ehdd/Backups/Docker/radicale:/archive

networks:
  proxy:
    external: true

volumes:
  data:
