services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - data:/data/
    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  data:
