services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - data:/data/
    networks:
      - proxy
    labels:
      - docker-volume-backup.stop-during-backup=true

  backup:
    image: offen/docker-volume-backup:latest
    restart: always
    env_file: /mnt/ehdd/Backups/Docker/config/vaultwarden.env
    volumes:
      - data:/backup/my-app-backup:ro
      - /mnt/ehdd/Backups/Docker/vaultwarden:/archive
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  proxy:
    external: true

volumes:
  data:
