services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: fluffy
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /mnt/ehdd/:/var/syncthing
    networks:
      - proxy
    ports:
      #  - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped

networks:
  proxy:
    external: true
